/* src/pages/HomePage.css */

/* Estilo atual para desktops */
.home-page {
}

.top-container {
  margin-top: 1vh;
  display: flex;
  margin-bottom: 1vh;
}

.top-card {
  margin-left: 1vw;
  margin-right: 1vw;
  width: 3vw;
  padding: 0.5vh 1vw;
  border-radius: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.top-card.selected {
  background-color: #5c5c5c;
  color: #fff;
}

.top-card h3 {
  font-size: 1.5vh;
  text-align: center;
}

.container {
  display: flex;
  width: 100%;
  height: 80vh;
}

.left-container {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2vh;
}

.card-homepage {
  width: 30%;
  height: 15vh;
  padding: 2vh 1vw;
  border-radius: 10px;
  margin-left: 1vw;
  background-color: #f0f0f0;
}

.card-relatorio {
  width: 96%;
  height: 51vh;
  margin-left: 1vw;
}

.card-encomendar {
  width: 20%;
  height: 90%;
  margin-left: 2vw;
}

.card-homepage h3 {
  text-align: center;
}

.card-content {
  margin-top: 1vh;
}

.card-content ul {
  list-style-type: none;
  padding: 0;
}

.card-produtos {
  background-color: white;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.card-produtos img {
  max-width: 100px;
  margin-right: 20px;
}

.card-produtos .card-details {
  flex-grow: 1;
  margin-right: 20px;
}

.card-produtos .card-price {
  text-align: right;
}

.card-produtos p {
  margin: 5px 0;
}

.card-content-encomendas {
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  background-color: none;
}

.card-content-encomendas ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card-content-encomendas li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.card-content-encomendas img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.card-details, .card-price {
  display: flex;
  flex-direction: column;
}

.card-details p, .card-price p {
  margin: 0;
}

/* Estilo para telas menores (mobile screens) */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .left-container {
    width: 100%;
  }

  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card-homepage {
    width: 90%;
    margin-left: 0;
    margin-bottom: 1vh;
  }

  .card-relatorio, .card-encomendar {
    width: 90%;
    margin-left: 0;
    margin-bottom: 1vh;
  }

  .card-encomendar {
    height: auto;
  }

  .card-content-encomendas {
    max-height: none; /* Remove a altura fixa para rolar conforme necessário */
  }
}

/* Estilo para telas muito pequenas (ex: smartphones) */
@media (max-width: 480px) {
  .top-container {
    flex-direction: column;
  }

  .top-card {
    width: 100%;
    margin-bottom: 1vh;
    padding: 1vh 0;
  }

  .card-homepage {
    height: auto;
    padding: 2vh 1vw;
    font-size: 1rem; /* Ajusta o tamanho da fonte para melhorar a legibilidade */
  }

  .card-content-encomendas img {
    width: 40px; /* Reduz o tamanho das imagens */
    height: 40px;
  }
  .card-encomendar {
    width: 90%;
    margin-left: 0;
    height: auto; /* Ajuste a altura para se adaptar ao conteúdo */
  }

  .card-content-encomendas {
    max-height: 300px; /* Ajuste conforme necessário */
    overflow-y: auto; /* Adiciona rolagem vertical */
  }

  .card-content-encomendas ul {
    max-height: 100%; /* Garante que a lista ocupe o espaço disponível */
  }

}
